/*
    **********************************************************
                        REGLES CSS COMMUNES
    **********************************************************
*/ 
@font-face {
    font-family: 'Sansation';
    src: url('font/Sansation_Regular.ttf')format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src:url('font/Sansation_Bold.ttf')format('truetype');
   font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sansation';
}

.wrapper{
    width: 1280px;
    margin: 0 auto;;
}

body{
    background-color: rgb(21, 48, 61);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
}

.flexLogo{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

header{
    overflow: hidden;
     font-family: 'Sansation';
}

header *{
    flex: 1 1 33.33%;
    align-items: center;
}

 #mail a:hover{
    -webkit-text-fill-color: rgb(204, 57, 38);
}

.coming{
    font-family: 'Sansation' ;
    font-weight: bold;
    display: none;
  }

main{
    position: relative;
}

article{
    color: #BBB;
    background-color:rgb(21, 48, 61);
    padding: 1em 1em .5em 1em;
   
}

article section{
    width:90%;
    margin: 0 auto;
    color:#DDD;
    text-align: center;
}

section h3{
    border-top: 1px solid rgb(255, 30, 0);
    border-bottom: 1px solid rgb(255, 30, 0);
    display: inline;
    padding:.35em 0;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

section p{
    font-family: 'Robot', sans-serif;
}

#small{
    margin: 1em 0 .5em 0;
    text-align: center;
    font-size: .6em;
    letter-spacing: 2px;
}

#small a{
    color: #BBB;
    font-weight: bold;
}
/*
    ***********************************************************
                        MEDIA QUERIES
    ***********************************************************
*/
            /** 1024 pixels < ECRAN  **/

@media screen and (min-width:1024px){
  
    header{
        width: 100%;
        position: absolute;
        z-index:15;
        background-color:rgba(255, 255, 255, 0.4);
    }

    .coming{
        color: #111;
        font-size: 2em;
        letter-spacing: 15px;
        font-family: 'Sansation', sans-serif;
    }

    header div:first-of-type{
        text-align: center;
    }

    header div:last-of-type{
        text-align: center;
    }

    img[src*="logo"]{
        width: 8em;
    }
    
   .image img{
        /*filter:brightness(90%);*/
    }

    .flexCol{
        display: flex;
        flex-direction: column;
    }

    #intro{
        position: relative;
        left: 100%;
        font-size: .9em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
    }

    p.coming + p{
        -webkit-text-fill-color: rgb(39, 39, 90);
        font-size: 1.75em;
        text-align: center;
        margin: 1em 0 0 0 ;
        font-weight: normal;
    }

    div.contact{
        display: none;
    }

    .wheel{
        width: 4em;
    }

article section{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        background-color:rgb(21, 48, 61); 
    }

    section p{
        margin-top:1.5em;
    }
}
             /**  680 pixels > ECRAN < 1023 pixels **/

@media screen and (min-width: 680px) and (max-width: 1023px){
    
    header{
       background-color:rgb(245, 245, 245);
    }

    .flexCol{
        display: flex;
        flex-direction: column;
    }

    .coming{
        font-size: 1.35em;
        letter-spacing: 10px;
        margin-bottom: 1em;
        font-family: 'Sansation', sans-serif;
    }
    
    header div:first-of-type{
        text-align: right;
    }

    header div:last-of-type{
        text-align: center;
    }

    img[src*="logo"]{
        width: 6.5em;
    }

    #intro{
        position: relative;
        width: 200%;
        left: 110%;
        font-size: .8em;
        letter-spacing: 2px;
        text-transform: uppercase;
       font-weight: bold;
    }

    p.coming + p{
    -webkit-text-fill-color: rgb(39, 39, 90);
    font-size: 1.2em;
    text-align: center;
   margin-top: .25em;
   }

    #mail a{
        font-size: 1.15em;
    -webkit-text-fill-color: rgb(39, 39, 90);
    }

    div.contact{
        display: none;
    }

    article section{
        margin-top: 1.75em;
        margin-bottom: 3em;
        width: 70%;
    }

    section > p{
        margin-top: 3em;
        font-size: 1em;
    }

    .wheel{
        width: 3.5em;
   }
}

            /** ECRAN < 680 pixels **/

@media screen and (max-width: 680px){

    body{
        background: rgb(210,210,210);
        background: radial-gradient(circle, rgba(210,210,210,1) 1%, rgba(255,255,255,1) 50%);
    }

    .flex{
        display: flex;
        flex-direction: column;
    }

    header{
        width: 100%;
        padding: 4% 0 0 1.5%;
     }

     .coming{
        color: #111;
        font-size: 1.5em;
        text-align: center;
        padding: .5em;
        letter-spacing: 10px;
        font-family: 'Sansation', sans-serif;
    }

    h1 img{
        width: 6em;
    }

    .image{
        margin-left: .3em;
    }

    .image img{
        border-left: 4px solid rgb(204, 57, 38);  
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    #intro{
        position: relative;
        width: 200%;
        left: 100%;
        font-size: .9em;
        color: #111;
        margin: 2em 0 0em 0;
        font-weight: bold;
        letter-spacing: 2px;
    }

    #tel, #mail{
        display: none;
    }

    .contact{
        background-color: rgb(21, 48, 61); 
        padding: 3em 0 3em 0;
        text-align: center;
        font-size: 1.5em;
        border-right: 4px solid rgb(204, 57, 38); 
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: .1em .2em .25em 0em;
        overflow: hidden;
    }
    
    .contact p{
        display: none;  
    }
    
    .contact a[href*="tel"]{
        display: inline;
        border-top: 1px solid transparent;
        border-left:2px solid transparent;
        border-radius: 2px;
        padding: .7em 2em 1.5em 3em;
        color: #DDD;
        position: relative;
    }
/***** ANIM BORDURE TEL *******/
    #left{
        position: absolute;
        left: -1%;
        top: 30%;
        height: -1%;
        animation: slideLeft 3.5s ease 1.1s forwards;
    }
   
    #top{
       position:absolute;
        top:-1%;
        left: 0;
        width: 0;
        animation: slideTop 3.5s ease-in 500ms reverse forwards;
    }
@keyframes slideTop{
    from{width : 120%;border:1px solid rgb(255, 30, 0)}
    to{width:0%;border:1px solid rgb(255, 30, 0)};
}
@keyframes slideLeft {
    from{height:0%;border:1px solid rgb(255, 30, 0)}
    to{height: 150%;border:1px solid rgb(255, 30, 0)};
}


    .contact :first-child{
        margin-bottom: .8em;
    }

    .contact a[href*="mailto"]{
        padding: .3em 1em .7em 1.5em;
        border-bottom : 2px solid transparent;
        border-right: 2px solid transparent;
        color: #DDD;
        position: relative;
    }
/******ANIM BORDURE MAIL ***/
    #right{
        position: absolute;
        right: -.5%;
        top: -160%;
        animation: slideR 3.5s ease 1s forwards;
    }
   
    #bottom{
        position:absolute;
        bottom:-5%;
        right: 0;
        width: 0;
        animation: slideB 3.9s ease-in 1.05s reverse forwards;
    }

@keyframes slideR{
    from{height: 0%; border:1px solid rgb(255, 30, 0) }
    to{height: 220%; border: 1px solid rgb(255, 30, 0)};
}

@keyframes slideB{
    from{width: 120%;border:1px solid rgb(255, 30, 0)}
    to{width: 0%;border:1px solid rgb(255, 30, 0)};
}

    article{
        margin: .2em 0   0 .3em;
        padding: 2em 1em ;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        background-color:rgb(21, 48, 61);  
        border-left: 4px solid rgb(204, 57, 38); 
    }

    section h3{
       margin: 2em 0;
       text-align: center;
       font-size: 1.5em;
    }

    article section{
        margin-top: 1em;
        width: 70%;
        text-align: center;
        font-size: .9em;
    }

    section p{
        text-align: left;
        margin-top: 2em;
        font-size: 1.2em;
    }
    
    .wheel{
        display: none;
    }

    #logoWhite{
        padding-top: 1em;
        width: 8em;
        margin: 0 auto;
    }
    
    #small {
        text-align: center;
        font-size: .6em;
        letter-spacing: 2px;
        color: #111;
    }

    #small a{
        font-weight: bold;
        color: #111;
    }
}
