*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
}
body{
    background-color: black;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
}

header{
    width: 100%;
    position: absolute;
    z-index:15;
}

header *{
    flex: 1 1 33.33%;
    align-items: center;
}

.coming{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Ou Roboto ? */
    letter-spacing: 20px;
    display: none;
  }

header div:first-of-type{

    text-align: right;
}

header div:last-of-type{
    text-align: center;
}

.image{

    background-color: #111;
}
main{
    position: relative;
}
.containerContact{
    padding-top: 1%;
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
    z-index: 10;
}
#intro{
    font-size: 1.25em;
    display: none;
}

.contact{
    margin-top: 6em;
    padding: 1% 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgba(255, 255, 255, 0.2);
    color:black;
    font-size: 2.25em;
}

.contact :first-child{
   letter-spacing: 2px;
   margin-bottom: .3em;
}

.containerContact :last-child{
   font-weight: bold;
}

footer{
    color: white;
    background-color:#111 ;
    padding: 1em 1em .5em 1em;
}

footer aside{
   width:60%;
   margin: 0 auto;
}

aside h3{
    color:rgb(70, 63, 177);
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

footer > p{
    margin-top: 2em;
    text-align: center;
    font-size: .6em;
    letter-spacing: 2px;
}

footer a{
    color: rgb(78, 57, 136);
}
@media screen and (min-width:866px){
    
    .flexCol img:last-child{
        display: none;
    }

    .contact{
        width: 38%;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 425px) and (max-width: 865px){
    .none{
        display: none;
    }
    .coming{
        font-size: 1.25em;
    }
    
    .flexCol img:last-child{
        display: none;
    }
    .containerContact{
        padding-top: 0;
    }
    
    #intro {
        font-size: 1.15em;
       
    }
    
    .coming{
        letter-spacing: 10px;
    }

    .contact{
        margin-top: 4em;
        width: 38%;
        flex-direction: column;
    }
    
    .contact p{
       font-size: .7em;
    }

    footer aside {
        width: 90%;
    }
}

@media screen and (max-width: 680px){
    body{
        background-color: #222;
    }
   
    p.coming{
        color: white;
        font-size: 1em;
        text-align: center;
        padding: .5em 0;
    }
    .flexCol img:first-child{
        display: none;
       
    }
    .flexCol img:last-child{
        display: block;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        padding: 2% 0;
        width: 6em;
    }
    .flexCol{
        display: flex;
        flex-direction: column;
    }
    header{
        padding: 4% 0;
        position: initial;
        background-color: #111;
    }
   
    #intro{
        position: absolute;
        top: 2%;
        padding: 0 2%;
        color: black;
        font-weight: normal;
        letter-spacing: 2px;
    }
    .image{
        background-color: black;
    }
    .containerContact{
        padding: 0;
        position: initial;
        background-color: #111;
    }

    div.contact{
        margin: .5% 1% 1% 1%;
        padding: 4% 0;
        color: white;
        font-size: 2em;
        font-weight: 100;
    }

    footer aside{
        width: 90%;
        margin: 0 auto;
    }

}