/*
    **********************************************************
                        REGLES CSS COMMUNES
    **********************************************************
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #111;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.flex{
    display: flex;
}

header *{
    flex: 1 1 33.33%;
    align-items: center;
}

.coming{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Ou Roboto ? */
    display: none;
  }

main{
    position: relative;
}

#intro{
   display: none;
}

footer{
    color: white;
    background-color: #111;
    padding: 1em 1em .5em 1em;
}

footer aside{
    width:90%;
    margin: 0 auto;
    color:#DDD;
    text-align: center;
    padding:  1em 0 1.5em 0;
}

aside h3{
    border-top: 1px solid rgb(255, 30, 0);
    border-bottom: 1px solid rgb(255, 30, 0);
    display: inline;
    padding:.35em 1em;
    text-transform: uppercase;
}

aside p{
    margin-top: 1.5em;
}

footer > p{
    margin-top: 1em;
    text-align: center;
    font-size: .6em;
    letter-spacing: 2px;
}

footer a{
    color: rgb(57, 82, 136);
}
/*
    ***********************************************************
                        MEDIA QUERIES
    ***********************************************************
*/
            /** 1024 pixels < ECRAN  **/

@media screen and (min-width:1024px){
    header{
        width: 100%;
        position: absolute;
        z-index:15;
    }

    .coming{
        font-size: 2em;
        letter-spacing: 15px;
    }

    header div:first-of-type{
        text-align: right;
    }

    header div:last-of-type{
        text-align: center;
    }
    
    img[src*="white"]{
        display: none;
    }

    .containerContact{
        padding-top: 1%;
        color: #000;
        text-align: center;
        font-weight: bold;
        position: absolute;
        width: 100%;
        top: 25%;
        z-index: 10;
    }

    #intro{
        font-size: 1.25em;
    }

    .contact{
        width: 38%;
        flex-direction: column;
        margin-top: 5.5em;
        padding: 1% 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color:rgba(255, 255, 255, 0.2);
        color:black;
        font-size: 2.25em;
    }

    .contact :first-child{
        margin-bottom: .3em;
     }
}
             /**  680 pixels > ECRAN < 1023 pixels **/

@media screen and (min-width: 680px) and (max-width: 1023px){
    
    header{
        position: absolute;
        z-index:15;
    }

    .coming{
        font-size: 1.35em;
        letter-spacing: 10px;
    }
    
    header div:first-of-type{
        text-align: right;
    }

    header div:last-of-type{
        text-align: center;
    }

   img[src*="white"]{
        display: none;
    }

    #intro {
        font-size: 1.15em;
    }

    .containerContact{
        padding-top: initial;
       color: #000;
        text-align: center;
        font-weight: bold;
        position: absolute;
        width: 100%;
        top: 24%;
        z-index: 10;
    }
    
    .contact{
        margin-top: 4em;
        width: 38%;
        flex-direction: column;
        padding: 1% 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color:rgba(255, 255, 255, 0.2);
        color:black;
        font-size: 2.255em;
    }
    
    .contact p{
        font-size: .7em;
    }

    .contact :first-child{
        margin-bottom: .3em;
     }
}

            /** ECRAN < 680 pixels **/

@media screen and (max-width: 680px){
    .flex{
        display: flex;
        flex-direction: column;
    }

    header{
        padding: 4% 0;
    }

    p.coming{
        color: #DDD;
        font-size: 1.30em;
        text-align: center;
        padding: .5em 0;
        letter-spacing: 10px;
    }

    h1 img:first-child{
        display: none;
    }
    
    img[src*="white"]{
        display: block;
        border-top: 1px solid rgb(255, 30, 0);
        border-bottom: 1px solid rgb(255, 30, 0);
        padding: 2% 0;
        width: 6em;
    }

    .image{
        margin-top: .5em;
    }

    #intro{
        position: absolute;
        top: 2%;
        padding: 0 2%;
        color: black;
        font-weight: normal;
        letter-spacing: 2px;
    }

    .containerContact{
        color: #000;
        text-align: center;
        }

    .contact{
        background-color: #111;
        padding: 3em 0;
        color: #DDD;
        font-size: 1.5em;
        /*box-shadow: 0 0 20px 1px inset rgb(255, 30, 0);*/
        border: 3px solid rgb(255, 30, 0);
        margin: 1.5em 1em 2em 1em;
    }
    
    .contact p:first-child{
        margin-bottom: 1em;
    }
}